*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: black;
}
.main{
  width: 500px;
  height: 250px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.main::before{
  content: "";
  width: 800px;
  height: 800px;
  background: conic-gradient(from 180deg, #00E5FF, #0066FF, #B300FF, #00E5FF);
  animation: rotate 2s linear infinite;
  position: absolute;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.main::after{
  content: "";
  width: 97%;
  height: 97%;
  background-color: black;
  position: absolute;
}
.link{
  z-index: 99999;
  width: 50%;
  text-decoration: none;
}
.link button{
  width: 100%;
  padding: 10px;
  border-radius: 1px;
  border: none;
  background-color: black;
  color: white;
  
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  z-index: 9999999999;
  cursor: pointer;
}
.link a{
  z-index: 9999999999999;
  text-decoration: none;
}
button::before{
  content: "";
  position: absolute;
  width: 2000px;
  height: 1000px;
  background: conic-gradient(from 180deg, #00E5FF, #0066FF, #B300FF, #00E5FF);
  animation: rotate 2s linear infinite;
  z-index: -999;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
button::after{
  content: "";
  position: absolute;
  width: 97%;
  height: 90%;
  background-color: black;
  z-index: -99;
}