*{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  background: url(img/ChatGPT\ Image\ Nov\ 8\,\ 2025\,\ 12_54_56\ PM.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo{
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.logo img{
  width: 90%;
  z-index: 99999;
}
.logo::before{
  content: "";
  width: 200px;
  height: 200px;
  background: conic-gradient(from 180deg, #00E5FF, #0066FF, #B300FF, #00E5FF);
  position: absolute;
  animation: rotate 2s infinite linear;
}
@keyframes rotate{
  from{
    transform:  rotate(0deg)
  }
  to{
    transform:  rotate(360deg)
  }
}
.logo::after{
  content: "";
  background-color: black;
  width: 90%;
  height: 90%;
  position: absolute;
}
form{
  width: 50%;
  height: 90%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.699);
  margin: 10px;
  border-radius: 10px;
}
h1{
  background: conic-gradient(from 180deg, #00E5FF, #0066FF, #B300FF, #00E5FF);
  background-clip: text;
  color: transparent;
}
.label{
  align-items: center;
  justify-content: left;
  display: flex;
  width: 60%;
}
input:focus+label{
  transform: translateY(-20px);
  color: rgb(0, 0, 0);
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.699);
}
input:focus{
  border: none;
}
label{
  position: absolute;
  margin-left: 6px;
  transition: transform 0.6s ease;
  background: conic-gradient(from 180deg, #00E5FF, #0066FF, #B300FF, #00E5FF);
  background-clip: text;
  color: transparent;
}
input{
  position: relative;
  padding: 10px;
  width: 100%;
}
button{
 
  background-clip: text;
  color: rgba(75, 63, 63, 0);
  width: 40%;
  padding: 10px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  border: 1px solid white;
  z-index: 9999;
}
